.container {
  height: 50%;
  max-height: 11vh;
  padding: 8px;
}

.inputContainer {
  width: 100%;
  height: 50px;
  margin: auto;
  padding-top: 24px;
}

@media (min-width: 640px) {
  .inputContainer {
    max-width: 400px;
  }
}

.input {
  background-color: #d5d5d5;
  font-weight: 800;
  text-align: center;
  font-size: var(--font-size-md);
}

.error {
  color: red;
}