.container {
  margin: 2px;
  border: 1px solid;
  height: calc(76vh - 54px);
  padding: 10px 10px 20px 5px;
  overflow: auto;
  display: grid;

  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-auto-rows: 150px;
  gap: 10px;
  justify-content: center;
  align-content: start;
  position: relative;
  list-style: none;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
}

