.searchInput {
  background-color: #d5d5d5;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.searchInput:focus {
  cursor: auto;
}
