.actionbarContainer {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  height: 5vh;
}

.container button {
  padding: 4px;
}

.selectedContainer {
  display: flex;
  justify-content: conter;
  align-items: center;
  margin-right: 4px;
}

.leftSection,
.rightSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countMesage {
  display: none;
}

@media (min-width:297px) {
  .countMesage {
    display: inline;
  }
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
}

.selectedCount {
  font-weight: bold;
}

